<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <style>
       body{
            background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-blue-genetic-dna-medical-background-windbackground-display-boardbackgroundpsdcolorful-image_77077.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
       
    </style>
    <body>
    
        
        <form action="" method="post">
            {% csrf_token %}
             <div class ="container justify-content-center mt-5 w-25   ">
                <h1 >Login</h1><br>
             <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="mname">username:</label>
                     <input type="text" placeholder="user name"  class="form-control"  name="username" id="username">
                  </div></div>
                  
                  <div class="col-12">
                  <div class="form-group">
                    <label for="Price">password:</label>
                    <input type="password" class="form-control" id="password"  placeholder="Enter the password" name="password">  
                  </div> </div>
                
                  <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button><br><br>  
                  Not a user   <a href="{% url 'signup' %}">Signup here...</a>
             </div></div>
             </div>
        </form>
      
    </body>
</html>