<!doctype html>
<html>
    <head>
        <title>Delete</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .del{
                text-align:center;
                padding-top:20%;
            }
        </style>
    </head>
    <body>
       
        <div class="del">
            <h1>Successfully Deleted</h1>
            <a href="{% url 'home' %}" class="btn btn-primary">Back To Home</a>
        </div>
    </body>
</html>